<center><h3 class="title">BADGES</h3></center>`


			<div class="row" >
				<div class="col s3" ng-repeat="badge in badges"	>
					<center>
						<!-- <div class="row"> -->
							<!-- <div class="col s12"> -->
								<img src="img/badges/<% badge.filename %>.gif" alt="<% badge.name %>" height="200px"><br>
							<!-- </div> -->
						<!-- </div>
						<div class="row">
							<div class="col s12">-->
								<h5> 
									<% badge.name %>
								 </h5>
							<!--</div> -->
						<!-- </div> -->
					</center>
				</div>
			</div>
	
