<div class="container-fluid">
	<div class="row">
		<div class="col-lg-6">
			<div style="margin:10px">
				<div class="btn-group pull-right ">
					
					<button type="submit" class="btn btn-warning btn-sm" ng-click="runCode(sourceCode)">Run</button>
					<button  class="btn btn-primary btn-sm" ng-click="SubmitCode()">Submit</button>
					<button  class="btn btn-danger btn-sm" ng-click="testError()">Test Error</button>
					<button  class="btn btn-success btn-sm" ng-click="testSuccess()">Test Success</button>
					<button type="button" class="btn btn-success btn-sm" ng-click="testing()"> TEsting</button>
				</div>
				<label class="control-label" style="font-size: 1.3em;"> Editor</label>
	    		<div style="height: 500px;">
		    		<div id="editor" style="color: #0f0;"></div>
	    		</div>
				<script src="/ace-builds/src-noconflict/ace.js"></script>
				<script>
 
				</script>
			</div>
		</div>
		<div class="col-lg-6">

			<ul class="nav nav-tabs">
			  <li class="active"><a data-toggle="tab" href="#input">Input</a></li>
			  <li><a data-toggle="tab" href="#output">Ouput</a></li>
			  <li><a data-toggle="tab" href="#problem_details">Problem Details</a></li>
			  <li><a data-toggle="tab" href="#testing">For Testing</a></li>
			</ul>

			<div class="tab-content">
			  <div id="input" class="tab-pane fade in active">
			  		<br>
			    	<textarea style="padding: 5px;" class="form-control" rows="5" ng-model="newCode.input"></textarea>
			  </div>
			  <div id="output" class="tab-pane fade">
			  		<br>
					<pre style="background-color: #eee; font-size: .9em; border: 1px solid #555; height: 250px; width: 100%;"><span style="color: #fc9;"><% status %></span><span class="<% resultValueColor %>"><% resultValue %></span> - <span class="compilation-details" ng-hide="compiling">time: <% time %> memory: <% memory %> signal: <% signal %></span><br><span style="color: #000"><% output %></span><span style="color: #d00"><% error %></span></pre>
			  </div>
			  <div id="problem_details" class="tab-pane fade">
				<h4><% problemTitle %></h4>
				<!-- <pre style="width: 100%; height: auto"><% problemDescription %></pre> -->
				<div style="overflow:scroll; height:500px; padding-bottom: 50px;" ng-bind-html="problemDescription"></div>
			  </div>
			  <div id="testing" class="tab-pane fade">
			  	<div class="btn-group btn-sm">
			  		<button type="button" class="btn btn-primary" ng-click="testing1()">Test 1</button>
			  		<button type="button" class="btn btn-primary" ng-click="testing2()">Test 2</button>
			  		<button type="button" class="btn btn-primary" ng-click="testing3()">Test 3</button>
			  		MS: <span ng-bind="errors.ms"></span><br>
			  		SE: <span ng-bind="errors.se"></span><br>
			  		PM: <span ng-bind="errors.pm"></span><br>
			  		REE: <span ng-bind="errors.ree"></span><br>
			  		RE: <span ng-bind="errors.re"></span><br>
			  		
			  	</div>
			  </div>
			</div>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-submission-result modal-content">
		      <div class="modal-header">
		        <h4 class="modal-title" id="myModalLabel">Submission Result</h4>
		      </div>
		      <center class="modal-body">
			      <div class="modal-body" ng-hide="checkingResult">
			        <div class="sk-circle">
					  <div class="sk-circle1 sk-child"></div>
					  <div class="sk-circle2 sk-child"></div>
					  <div class="sk-circle3 sk-child"></div>
					  <div class="sk-circle4 sk-child"></div>
					  <div class="sk-circle5 sk-child"></div>
					  <div class="sk-circle6 sk-child"></div>
					  <div class="sk-circle7 sk-child"></div>
					  <div class="sk-circle8 sk-child"></div>
					  <div class="sk-circle9 sk-child"></div>
					  <div class="sk-circle10 sk-child"></div>
					  <div class="sk-circle11 sk-child"></div>
					  <div class="sk-circle12 sk-child"></div>
					</div>
			      </div>
			      <h2 style="margin-top: 5px;" class="<% resultSubmissionColor %>"><% submitStatusDescription %></h2>
		      </center>
		      
		      <div class="modal-footer" ng-show="checkingResult">
		        <button type="button" class="btn btn-warning btn-block" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		  </div>
		</div>
		
	</div>
</div>