<script>
      $('.collapsible').collapsible({
        accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
      });
</script>

<p>Listed below are the explanation of each featues of HeuriCode. Click one to understand each feature.</p>
  <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons">view_list</i>Main Menu</div>
      <div class="collapsible-body"><img src="img/mainmenufinal.png" height ="400" width ="600"alt="Unsplashed background img 1"></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">trending_up</i>Self Train</div>
       <div class="collapsible-body"><p>Problem Assignment</p></div>
      <div class="collapsible-body"><img src="img/self train.jpg" height ="600" width ="800"alt="Unsplashed background img 1"></div>
       <div class="collapsible-body"><p>Coding Results</p></div>
      <div class="collapsible-body"><img src="img/post-solve.png" height ="400" width ="600"alt="Unsplashed background img 1"></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">subject</i>Coding Phase</div>
      <div class="collapsible-body"><p>Code Editor</p></div>
      <div class="collapsible-body"><img src="img/editorfinal.png" height ="400" width ="600"alt="Unsplashed background img 1"></div>
      <div class="collapsible-body"><p>Input/Output/Problem Details</p></div>
      <div class="collapsible-body"><img src="img/inputoutputproblemdetails.png" height ="400" width ="600"alt="Unsplashed background img 1"></div>
    </li>
     <li>
      <div class="collapsible-header"><i class="material-icons">equalizer</i>Statistical Progress</div>
      <div class="collapsible-body"><img src="img/graphfinal.png" height ="400" width ="600"alt="Unsplashed background img 1"></div>
    </li>
     <li>
      <div class="collapsible-header"><i class="material-icons">perm_identity</i>Find Match</div>
      <div class="collapsible-body"><img src="img/multiplayerfindmatch.png" height ="400" width ="600"alt="Unsplashed background img 1"></div>
    </li>
     <li>
      <div class="collapsible-header"><i class="material-icons">stars</i>Badges</div>
      <div class="collapsible-body"><img src="img/badgesfinal.png" height ="400" width ="600"alt="Unsplashed background img 1"></div>
    </li>
  </ul>
    