<script>
      $('.parallax').parallax();
</script>
<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">HeuriCode</h1>
        <div class="row center">
          <h5 class="header col s12 light">Want to improve your programming skills? Well, you've come to the right place! HeuriCode supplements your learning by giving you problems to solve and showing you what you need to improve on.</h5>
        </div>
        
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="img/wewew.jpg" alt="Unsplashed background img 1"></div>
 </div>


  <div style="margin-left:30px; margin-right: 30px; padding-right: 50px; padding-left: 50px" class="containe teal lighten-4">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">trending_up</i></h2>
            <h5 class="center">Improve your programming skills</h5>

            <p class="light">Improve your skills in C, C++ and Java. HeuriCode will automatically give you a programming problem that will help you learn fast!</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">assessment</i></h2>
            <h5 class="center">Know your errors</h5>

            <p class="light">HeuriCode will show you what programming errors you mostly commit!</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">games</i></h2>
            <h5 class="center">Game Like Features</h5>

            <p class="light">Competetive Matchmaking vs other Players, Badges and Positive Tips to help you learn!</p>
          </div>
        </div>
      </div>
    </div>
    
    <div class="section">
      <h2>Main menu</h2>
        <img src="img/mainmenufinal.png" height ="400" width ="600"alt="Unsplashed background img 1">
    </div>
    <div class="section">
      <h2>Self Train</h2>
    </div>
    <div class="section">
      <h4>Problem Assignment</h4>
      <img src="img/self train.jpg" height ="600" width ="800"alt="Unsplashed background img 1">
    </div>
    <div class="section">
      <h4>Coding Results</h4>
      <img src="img/post-solve.png" height ="400" width ="600"alt="Unsplashed background img 1">
    </div>
    <div class="section">
      <h2>Coding Phase</h2>
    </div>
    <div class="section">
      <h4>Code Editor</h4>
      <img src="img/editorfinal.png" height ="400" width ="600"alt="Unsplashed background img 1">
    </div>
    <div class="section">
      <h4>Input - Output - Problem Details</h4>
      <img src="img/inputoutputproblemdetails.png" height ="400" width ="600"alt="Unsplashed background img 1">
    </div>
    <div class="section">
      <h2>Statistical Progress</h2>
      <img src="img/graphfinal.png" height ="400" width ="600"alt="Unsplashed background img 1">
    </div>
    <div class="section">
      <h2>Find Match</h2>
      <img src="img/multiplayerfindmatch.png" height ="400" width ="600"alt="Unsplashed background img 1">
    </div>
    <div class="section">
      <h2>Badges</h2>
      <img src="img/badgesfinal.png" height ="400" width ="600"alt="Unsplashed background img 1">
    </div>
  </div>
  <div class="parallax-container valign-wrapper"></div>