<script>
      $('.parallax').parallax();
      $('.collapsible').collapsible({
        accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
      });
</script>
<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">HeuriCode</h1>
        <div class="row center">
          <h5 class="header col s12 light">Want to improve your programming skills? Well, you've come to the right place! HeuriCode supplements your learning by giving you problems to solve and showing you what you need to improve on.</h5>
        </div>
        
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="img/wewew.jpg" alt="Unsplashed background img 1"></div>
 </div>


  <div style="margin-left:30px; margin-right: 30px; padding-right: 50px; padding-left: 50px" class="containe teal lighten-4">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">trending_up</i></h2>
            <h5 class="center">Improve your programming skills</h5>

            <p class="light">Improve your skills in C, C++ and Java. HeuriCode will automatically give you a programming problem that will help you learn fast!</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">assessment</i></h2>
            <h5 class="center">Know your errors</h5>

            <p class="light">HeuriCode will show you what programming errors you mostly commit!</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">games</i></h2>
            <h5 class="center">Game Like Features</h5>

            <p class="light">Competetive Matchmaking vs other Players, Badges and Positive Tips to help you learn!</p>
          </div>
        </div>
      </div>
    </div>
    
     <h5 class="center">Learn How to Use HeuriCode! Click a topic below to get started!</h5>
<ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons">view_list</i>Main Menu</div>
      <div class="collapsible-body"><center><img src="img/menu.jpg" height ="600" width ="1000"alt="Unsplashed background img 1"></center></div>
         <div class="collapsible-body"><p>1. In here will be your name that is used when you registerd in HeuriCode</p>
         
         <p>2. Used to redirect to the homepage</p>
         
         <p>3. Click this to start practicing problems by yourself</p>

         <p>4. The multiplayer feature to battle other players will be unlocked once you reached Level 25 in all subject areas</p>

         <p>5. Click this to see the statistical graph of your errors while using HeuriCode</p>

         <p>6. Click to see all the error history each time you solve a problem while using HeuriCode</p>

         <p>7. Click to view all of your unlocked badges</p>

         <p>8. Click to log out of HeuriCode</p>


         </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">trending_up</i>Self Train</div>
       <div class="collapsible-body"><p><b>Problem Assignment</p></b></div>
      <div class="collapsible-body"><center><img src="img/problem details.jpg" height ="600" width ="800"alt="Unsplashed background img 1"></center></div>
       <div class="collapsible-body"><p>1. The problem to be solved which is automatically given by HeuriCode</p>
         
         <p>2. The difficulty of the problem</p>
         
         <p>3. The subject area of the problem</p>

         <p>4. Click to select a programming language, choices are either C, C++ or Java</p>

         <p>5. Click to proceed to the coding phase</p>


         </div>
       <div class="collapsible-body"><p><b>Coding Results</p></b></div>
      <div class="collapsible-body"><center><img src="img/post-solve.png" height ="400" width ="600"alt="Unsplashed background img 1"></center></div>
      <div class="collapsible-body"><p>1. The tips to be given by HeuriCode in the case the user decides to give up on a problem</p>
         
         <p>2. Proceed to the next problem</p>
         


         </div>

          <div class="collapsible-body"><p><b>Error Feedback</p></b></div>
      <div class="collapsible-body"><center><img src="img/feedback.png" height ="400" width ="600"alt="Unsplashed background img 1"></center></div>
      <div class="collapsible-body"><p>This will display a feedback on how many errors did you commit on the problem.</p>
         


         </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">subject</i>Coding Phase</div>
      <div class="collapsible-body"><p>Code Editor</p></div>
      <div class="collapsible-body"><center><img src="img/editorfinal.png" height ="400" width ="600"alt="Unsplashed background img 1"></center></div>
       <div class="collapsible-body"><p>1. Input your code in here</p>
         
         <p>2. Click here to test your code</p>
         
         <p>3. Click to submit your code and check if it follows the conditions of the problem</p>

         <p>4. Click to give up on the problem</p>

       


         </div>
      <div class="collapsible-body"><p>Input/Output/Problem Details</p></div>
      <div class="collapsible-body"><center><img src="img/inputoutputproblemdetails.png" height ="400" width ="600"alt="Unsplashed background img 1"></center></div>
       <div class="collapsible-body"><p>1. Input area for testing the code. Type a test case here.</p>
         
         <p>2. Click this to enter an input for testing code.</p>
         
         <p>3. Click here to view the output of the code when you are testing it.</p>

         <p>4. Click here anytime to view again the problem details</p>

       


         </div>
    </li>
     <li>
      <div class="collapsible-header"><i class="material-icons">equalizer</i>Statistical Progress</div>
      <div class="collapsible-body"><center><img src="img/graphfinal.png" height ="400" width ="600"alt="Unsplashed background img 1"></center></div>
    </li>

    <li>
      <div class="collapsible-header"><i class="material-icons">equalizer</i>Error History</div>
      <div class="collapsible-body"><center><img src="img/error_history.png" height ="400" width ="600"alt="Unsplashed background img 1"></center></div>

      <div class="collapsible-body"><p>In here you can see the history of your problems that you solved or did not solve in HeuriCode. Click each problem to view information such as how many errors did you commit and the percentage of HeuriCoders who solved the problem.</p>

       


         </div>
    </li>
     <li>
      <div class="collapsible-header"><i class="material-icons">perm_identity</i>Find Match</div>
      <div class="collapsible-body"><center><img src="img/multiplayerfindmatch.png" height ="400" width ="600"alt="Unsplashed background img 1"></center></div>
       <div class="collapsible-body"><p>1. Your name</p>
         
         <p>2. Your currently selected programming language</p>
         
         <p>3. Click here to change your currently selected programming language</p>

         <p>4. Toggle if you are ready or not</p>



         </div>
    </li>
     <li>
      <div class="collapsible-header"><i class="material-icons">stars</i>Badges</div>
      <div class="collapsible-body"><center><img src="img/badgesfinal.png" height ="400" width ="600"alt="Unsplashed background img 1"></center></div>
      <div class="collapsible-body"><p>1. The Badge Logo</p>
         
         <p>2. The Badge name</p>
         
         </div>
    </li>
  </ul>
  <div class="parallax-container valign-wrapper"></div>