
<div class="container-fluid">
	<div ng-show="loadingFind">
		<div class="sk-fading-circle" style="height:75px; width: 75px">
		  <div class="sk-circle1 sk-circle"></div>
		  <div class="sk-circle2 sk-circle"></div>
		  <div class="sk-circle3 sk-circle"></div>
		  <div class="sk-circle4 sk-circle"></div>
		  <div class="sk-circle5 sk-circle"></div>
		  <div class="sk-circle6 sk-circle"></div>
		  <div class="sk-circle7 sk-circle"></div>
		  <div class="sk-circle8 sk-circle"></div>
		  <div class="sk-circle9 sk-circle"></div>
		  <div class="sk-circle10 sk-circle"></div>
		  <div class="sk-circle11 sk-circle"></div>
		  <div class="sk-circle12 sk-circle"></div>
		</div>
	</div>
	<div ng-show="enableFindMatch">

		<div class="row">
			<div class="col-lg-5 col-lg-offset-3">
				<div style="margin-top: 20px;" class="container-fluid">
					<center><h1>Battle Records</h1></center>
					<center><table id="battleRecords">
						<tr><td>Wins: </td><td><% winsCount %></td></tr>
						<tr><td>Lose: </td><td><% loseCount %></td></tr>
						<tr><td>Solved Problems: </td><td><% solvedCount %></td></tr>
					</table></center>
					
					<button class="btn btn-success btn-lg btn-block" ng-click="findMatch()">
						Find Match
					</button>
				</div>
			</div>
			
		</div>


	</div>
	
	<div ng-show="hasRoom">
		<center>
			<span ng-hide="startTimer" ng-bind="roomDetails"
				style="font-size: 50px; margin: 0px; padding: 10px"></span>
			<span ng-show="startTimer" style="font-size:80px; margin: 0px; padding: 10px;" ng-bind="rooms[roomIndex].time"></span>
		</center>
		<div style="margin-top: 10px" class="row">
			<div class="col-lg-4 col-lg-offset-1">
				
				<div class="player-panel panel panel-success">
					<div class="panel-heading">Player 1</div>
					<div class="panel-body">
						<label>Name: </label><label ng-bind="p1_name"></label><br>
						<div class="dropdown" style="margin-bottom: 5px;">
							Language: 
						  	<button class="btn btn-sm btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
						  		<% rooms[roomIndex].lang1 %>
						  		<span class="caret"></span>
						  	</button>
						  	<ul class="dropdown-menu">
							    <li><a ng-click="p1_switchLanguage(11)">C</a></li>
							    <li><a ng-click="p1_switchLanguage(1)">C++</a></li>
							    <li><a ng-click="p1_switchLanguage(10)">Java</a></li>
						  	</ul>				  	
						</div>
						<button ng-hide="rooms[roomIndex].ready1" class="btn btn-block btn-danger <% p1_btn %>" ng-click="ready1()">Not Ready</button>
						<button ng-show="rooms[roomIndex].ready1" class="btn btn-block btn-primary <% p1_btn %>">Ready</button>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-lg-offset-1">
				<div class="player-panel panel panel-success" ng-show="hasOpponent">
					<div class="panel-heading">Player 2</div>
					<div class="panel-body">
						<label>Name: </label><label ng-bind="p2_name"></label><br>
						<div class="dropdown" style="margin-bottom: 5px;">
							Language: 
						  	<button class="btn btn-sm btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
						  		<% rooms[roomIndex].lang2 %>
						  		<span class="caret"></span>
						  	</button>
						  	<ul class="dropdown-menu">
							    <li><a ng-click="p2_switchLanguage(11)">C</a></li>
							    <li><a ng-click="p2_switchLanguage(1)">C++</a></li>
							    <li><a ng-click="p2_switchLanguage(10)">Java</a></li>
						  	</ul>				  	
						</div>
						<button ng-hide="rooms[roomIndex].ready2" class="btn btn-danger btn-block <% p2_btn %>" ng-click="ready2()">Not Ready</button>
						<button ng-show="rooms[roomIndex].ready2" class="btn btn-block btn-primary <% p2_btn %>">Ready</button>
					</div>
				</div>
				<!-- <div class="col-lg-12" ng-bind-html="problemDescription">
				</div> -->
			</div>
		</div>
	</div>
</div>	