<script>
	$('.dropdown-button').dropdown();
	$(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    	$('.modal-trigger').leanModal();
	});
</script>
<div class="container-fluid">
	<div ng-show="loadingFind">
		<div class="sk-fading-circle" style="height:75px; width: 75px">
		  <div class="sk-circle1 sk-circle"></div>
		  <div class="sk-circle2 sk-circle"></div>
		  <div class="sk-circle3 sk-circle"></div>
		  <div class="sk-circle4 sk-circle"></div>
		  <div class="sk-circle5 sk-circle"></div>
		  <div class="sk-circle6 sk-circle"></div>
		  <div class="sk-circle7 sk-circle"></div>
		  <div class="sk-circle8 sk-circle"></div>
		  <div class="sk-circle9 sk-circle"></div>
		  <div class="sk-circle10 sk-circle"></div>
		  <div class="sk-circle11 sk-circle"></div>
		  <div class="sk-circle12 sk-circle"></div>
		</div>
	</div>
	<div ng-show="enableFindMatch">

		<div class="row">
			<div class="col s4 offset-s4">
				<div class="card">
					<div class="card-content">
						<div class="container-fluid">
							<center><h3>Battle Records</h3>
							<table id="battleRecords">
								<tr><td>Wins: </td><td><% winsCount %></td></tr>
								<tr><td>Losses: </td><td><% loseCount %></td></tr>
								<tr><td>Solved Problems: </td><td><% solvedCount %></td></tr>
							</table></center>
							
							<button class="btn teal " ng-click="findMatch()">
								Find Match
							</button>
						</div>
					</div>
				</div>
			</div>
			
		</div>


	</div>
	
	<div ng-show="hasRoom">
		<center>
			<span ng-hide="startTimer" ng-bind="roomDetails"
				style="font-size: 50px; margin: 0px; padding: 10px"></span>
			<span ng-show="startTimer" style="font-size:80px; margin: 0px; padding: 10px;" ng-bind="rooms[roomIndex].time"></span>
		</center>
		<div style="margin-top: 10px" class="row">
			<div class="col s4 offset-s1">
				<div class="player-panel card blue lighten-4">
					<div class="card-content">
						<span class="card-title">Player 1</span>
						<div class="row">
							<div class="col s6">
								Name: 
							</div>
							<div class="col s6">
								<label style="font-size: 18px;"  ng-bind="p1_name"></label>
							</div>
						</div>
						<div class="row">
							<div class="col s6">
								Language: 
							</div>
							<div class="col s6">
						  		<a class='dropdown-button cyan white-text lighten-2 btn-flat' data-activates='dropdown-language'><% rooms[roomIndex].lang1 %></a>
							  	<ul id='dropdown-language' class='dropdown-content'>
								    <li><a ng-click="p1_switchLanguage(11)">C</a></li>
								    <li><a ng-click="p1_switchLanguage(1)">C++</a></li>
								    <li><a ng-click="p1_switchLanguage(10)">Java</a></li>
							  	</ul>    
							</div>
						</div>
						<div class="row">
							<div class="col s12">
								<a ng-hide="rooms[roomIndex].ready1" class="btn-flat red waves-cyan waves-effect lighten-2 white-text right <% p1_btn %>" ng-click="ready1()" >Not Ready</a>
								
								<a ng-show="rooms[roomIndex].ready1" class="btn-flat cyan waves-cyan waves-effect lighten-2 white-text right <% p1_btn %>" ng-click="ready1()" >ready</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col s4 offset-s1">
				<div class="player-panel card red lighten-4" ng-show="hasOpponent">
					<div class="card-content">
						<span class="card-title">Player 2</span>
						<div class="row">
							<div class="col s6">
								Name: 
							</div>
							<div class="col s6">
								<label style="font-size: 18px;" ng-bind="p2_name"></label>
							</div>
						</div>
						<div class="row">
							<div class="col s6">
								Language: 
							</div>
							<div class="col s6">
						  		<a class='dropdown-button cyan white-text lighten-2 btn-flat' data-activates='dropdown-language2'><% rooms[roomIndex].lang2 %></a>
							  	<ul id='dropdown-language2' class='dropdown-content'>
								    <li><a ng-click="p2_switchLanguage(11)">C</a></li>
								    <li><a ng-click="p2_switchLanguage(1)">C++</a></li>
								    <li><a ng-click="p2_switchLanguage(10)">Java</a></li>
							  	</ul>    
							</div>
						</div>
						<div class="row">
							<div class="col s12">
								<a ng-hide="rooms[roomIndex].ready2" class="btn-flat red waves-cyan waves-effect lighten-2 white-text right <% p2_btn %>" ng-click="ready2()" >Not Ready</a>
								
								<a ng-show="rooms[roomIndex].ready2" class="btn-flat cyan waves-cyan waves-effect lighten-2 white-text right <% p2_btn %>" ng-click="ready2()" >Ready</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>	
<div id="alertModal" class="modal">
    <div class="modal-content">
		<center>
			<h1 style="color: #0277bd;"><% alert_title %></h1>
	      	<h5 style="color: #00796b;"><% alert_description %></h5>
		</center>
    </div>
    <div class="modal-footer">
      	<a class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>