<script>
	$('.dropdown-button').dropdown();
</script>
<div ng-show="loadingProblem">
	<div class="spinner">
	  <div class="double-bounce1"></div>
	  <div class="double-bounce2"></div>
	</div>
</div>

<div class="row" ng-hide="loadingProblem">
	<div class="col s9">
		<div class="card grey lighten-5">
			<div class="card-content z-depth-3">
				<div ng-bind-html="problemDescription" style="color: #212121""></div>
			</div>
		</div>
	</div>
	<div class="col s3" ng-show="loadSuccess" style="margin-top: 80px; position: fixed; right: 0px;">
	  	<div class="card teal lighten-1">
            <div class="card-content white-text" style="font-size: 16px">
              	<span class="card-title">Problem Details</span>
              	<div class="divider"></div>
			  	<strong>Difficulty:</strong> <% difficulty %>
			  	<br>
			  	<strong>Subject Area:</strong> <% subject_area %>

            </div>
            <div class="card-action" style="padding: 5px">
            	<div class="row">
            		<div class="col s5">
            			<a class='dropdown-button cyan white-text lighten-2 btn-flat' data-activates='dropdown-language'><% language %></a>
            		</div>
            		<div class="col s7">
            			<a class="btn-flat  waves-cyan waves-effect cyan lighten-2 white-text right" ng-click="solveIt()" >Solve</a>
            		</div>
            	</div>
			  	<ul id='dropdown-language' class='dropdown-content'>
				    <li><a ng-click="languageToC()">C</a></li>
				    <li><a ng-click="languageToCpp()">C++</a></li>
				    <li><a ng-click="languageToJava()">Java</a></li>
			  	</ul>              	
            </div>
          </div>
	</div>
</div>