<div class="container-fluid">
		<div ng-show="loadingProblem">
			<div class="spinner">
			  <div class="double-bounce1"></div>
			  <div class="double-bounce2"></div>
			</div>
		</div>

		<div class="row" ng-hide="loadingProblem">
			<div class="col-lg-9">
				<div class="col-lg-12" ng-bind-html="problemDescription">
				</div>
			</div>
			<div class="col-lg-3" ng-show="loadSuccess">
				<div class="panel panel-default" style="margin-top: 10px;">
				  	<div class="panel-heading">Problem Details</div>
					  	<div class="panel-body">
					  	<strong>Difficulty:</strong> <% difficulty %>
					  	<br>
					  	<strong>Subject Area:</strong> <% subject_area %>
					  	<br>
					  	<strong>Time Limit: </strong> <% time_limit %>
					  	<br>
						<hr style="margin-bottom: 5px;">
						<strong>Solve It!</strong><br>
					  	<div class="dropdown" style="margin-bottom: 5px;">
							Language: 
						  	<button class="btn btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
						  		<% language %>
						  		<span class="caret"></span>
						  	</button>
						  	<ul class="dropdown-menu">
							    <li><a ng-click="languageToC()">C</a></li>
							    <li><a ng-click="languageToCpp()">C++</a></li>
							    <li><a ng-click="languageToJava()">Java</a></li>
						  	</ul>				  	
						</div>
						<button ng-show="loadSuccess" type="button" ng-click="solveIt()" class="btn btn-sm btn-block btn-success">
							Go!
						</button>
				  	</div>
				  	</div>
				    
				</div>
					<!-- <a ui-sref="codingPage" class="btn btn- btn-success">Solve it!</a> -->
			</div>
			
		</div>
        
</div>