<div class="container-fluid" ng-controller="problemController">

		<div class="row">
			<div class="col-lg-9">
				<h3><% problemTitle %></h3>
				<div class="col-lg-12" ng-bind-html="problemDescription">
				</div>
			</div>
			<div class="col-lg-3">
				<div class="panel panel-default" style="margin-top: 10px;">
				  	<div class="panel-heading">Problem Details</div>
					  	<div class="panel-body">
					  	<strong>Difficulty:</strong> Wew
					  	<br>
					  	<strong>Subject Area:</strong> Wew pud.
					  	<br>
					  	<strong>Time Limit: </strong> w3w 
					  	<br>
						<hr style="margin-bottom: 5px;">
						<strong>Solve It!</strong><br>
					  	<div class="dropdown" style="margin-bottom: 5px;">
							Language: 
						  	<button class="btn btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
						  		<% language %>
						  		<span class="caret"></span>
						  	</button>
						  	<ul class="dropdown-menu">
							    <li><a ng-click="languageToC()">C</a></li>
							    <li><a ng-click="languageToCpp()">C++</a></li>
							    <li><a ng-click="languageToJava()">Java</a></li>
						  	</ul>				  	
						</div>
						<button type="button" ng-click="solveIt(problemCode)" class="btn btn-sm btn-block btn-success">
							Go!
						</button>
				  	</div>
				  	</div>
				    
				</div>
					<!-- <a ui-sref="codingPage" class="btn btn- btn-success">Solve it!</a> -->
			</div>
			
			
			<div class="containe">
			</div>
		</div>
        
</div>