<script>
	$(document).ready(function(){
	    $('ul.tabs').tabs();
	});
</script>
<center><h3 class="title">STATISTICAL PROGRESS</h3></center>
<div class="container-fluid">
	<div class="row">
	    <div class="col s12">
	      	<ul class="tabs">
		        <li class="tab col s3"><a class="active" href="#solo">Single Player</a></li>
		        <li class="tab col s3"><a href="#multi">Multiplayer</a></li>
	      	</ul>
	    </div>
	    <div id="solo" class="col s12">
	    	<div class="container">
				<center ng-show="noProgress_single">
					<h1>You Have no progress Single Player yet. :)</h1>
				</center>
				<center ng-show="hasProgress_single">
					<canvas id="statistical_progress_single" max-width="850px" max-height="750px"></canvas>
				</center>
	    	</div>
	    </div>
	    <div id="multi" class="col s12">
	    	<div class="container">
			  	<center ng-show="noProgress_multi">
					<h1>You Have no progress in Multiplayer yet. :)</h1>
				</center>
				<center ng-show="hasProgress_multi">
					<canvas id="statistical_progress_multi" max-width="850px" max-height="750px"></canvas>
				</center>
	    	</div>
	    </div>
  	</div>
</div>
