.CodeMirror{
  font-size: 13px;
  height: 450px;
}

#logo{
	display: inline;
	margin: 5px 10px;
	height: 50px;
}

/* Coding */
.compilation-details{
  color:  #ffb300;
}
.resultValError{
  color: #b71c1c;
}
.resultValSuccess{
  color: #00695c;
}
  
.submission-running{
  color: #ffb300 ;
}
.submission-accepted{
  font-style: bold;
  color: #00695c;
}
.submission-error{
  font-style: bold;
  color: #b71c1c ;
}

/*submission modal*/
div.modal-submission-result.modal-content{
  background-color: #555;
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;  
  color: #dcdcdc;
}
div.modal-submission-result.modal-content .modal-header{
  border-bottom: 1px solid #323232;
}

div.modal-submission-result.modal-content .modal-footer {
  padding: 15px;
  border-top: 1px solid #323232;
}

.level_table {
	/*font-size: 12pt;*/
}
.level_table td {
	padding: 2px 20px 5px 0px;
}
.level_table>thead>tr>td{
  color: #004d40;
  font-size: 20px;
}
.level_table>tbody>tr>td{
  color: #424242;
  font-size: 16px;
}
.level_table>tbody>tr>td.action{
  color: #2962ff;
}

h3.title{
  color: #004d40;
}
#battleRecords td{
  font-size: 20px;
  color: #004d40;
}